@import "../../../../styles/variables";

%blue-hover {
    cursor: pointer;
    color: $blue-color;
    border: solid $blue-color;
    opacity: 0.7;
    padding-left: 7px;
    border-width: 0px 0px 0px 7px;
}

.clickable {
    transition: 0.20s ease-out;
}


.clickable:hover {
    @extend %blue-hover;
}

.recruiting-sidebar {
    position: relative;
    overflow-y: auto;
    
    .recruiting-content {
        margin: 0;
        position: relative;
        min-height: 100%;

        .filler {
            margin-top: 0;
            height: 10px;
        }
        
        .sidebar-item {
            margin: 10px;

            > ul {
                list-style-type: none;
                color: gray;

                > li {
                    margin-left: -20px;
                }
            }

            .option-selector {
                .accordion-container > ul {
                    list-style-type: none;
                    color: gray;
        
                    > li {
                        margin-left: -20px;
                    }
                }
            }
        }

        .larger-filler {
            margin-top: 0;
            height: 40px;
        }

        .refresh-btn {
            padding: 2px;
            width: 40px;
            height: 40px;
            border: 1px solid $gray-color;
            vertical-align: middle;
            border-radius: 0px;
            position: absolute;
            bottom: 0;
            right: 0;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

