@import "../../../../styles/variables";

%blue-hover {
    cursor: pointer;
    color: $blue-color;
    border: solid $blue-color;
    opacity: 0.8;
    padding-left: 7px;
    border-width: 0px 0px 0px 7px;
}

li span {
    transition: 0.20s ease-out;
}

li span:hover {
    @extend %blue-hover;
}

.sidebar-item.clickable {
    transition: 0.20s ease-out;
}


.sidebar-item.clickable:hover {
    @extend %blue-hover;
}

.recruiting-sidebar {
    position: relative;

    .sidebar-item {
        margin: 10px;

        > ul {
            list-style-type: none;
            color: gray;

            > li {
                margin-left: -20px;
            }
        }

        .option-selector {
            .accordion-container > ul {
                list-style-type: none;
                color: gray;
    
                > li {
                    margin-left: -20px;
                }
            }
        }
    }

    .refresh-btn {
        padding: 2px;
        width: 40px;
        height: 40px;
        border: 1px solid $gray-color;
        vertical-align: middle;
        position: absolute;
        border-radius: 0px;
        bottom: 0;
        right: 0;
        img {
            width: 20px;
            height: 20px;
        }
    }
}