@import "../../../../styles/variables";

%border {
    border: 1px solid $gray-color;
}

%table-label {
    text-align: center;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
}

table {
    @extend %border;
    border-collapse: separate !important;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
}

tr {
    border-bottom: 1px solid $gray-color;
    th {
        background-color: lightgray;
    }

    .rating-header {
        text-align: center;
    }

    td, th {
        padding: 7px;
        .rating {
            @extend %table-label;
            background-color: $light-green-color;
            width: 25px;
            margin: auto;
        }

        .status {
            @extend %table-label;
            background-color: $orange-color;
            width: 100%;
        }
    }

    tr:last-child {
        border-bottom: none;
    }
}