$blue-color: #328ef6;
$border-color: #99A4AE;
$orange-color: #E6CC95;
$gray-color: #99A4AE;
$light-green-color: #B9D7B4;
$darker-blue-color: #051B32;
$dark-blue-color: #082d55;
$main-background-color: white; // #F4F9FD;
$fonts: 'Open Sans', 'Segoe UI';
$general-font-weight: 500;
$regular-font-size: 20px;
$small-font-size: 16px;