@import "variables";
@import "mixins";

%basic {
    font-size: 18px;
    font-weight: $general-font-weight;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

body {
    /* Full Height and Width */
    width: 100%;

    @extend %basic;
    font-family: $fonts;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $main-background-color;
}

body.noscroll {
    overflow: hidden;
}

.main-div {
    margin: auto;
}

.m-top {
    margin-top: 15vh;
}

p {
    @extend %basic;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    font-weight: 900;
    font-style: bold;
    font-size: 80px;
    color: #051b33;
}

h2 {
    font-weight: $general-font-weight;
    font-size: 45px;
    text-transform: lowercase;
    color: $blue-color;
}

h4 {
    font-weight: $general-font-weight;
    font-size: 25px;
}

a {
    color: $blue-color;
}

.header-container {
    z-index: 100;
    margin: 10vh auto;
    text-align: left;
    width: 76%;

    .first-content-desc {
        margin-top: 40px;
    }

    p {
        position: relative;
        width: 90%;
        font-size: $regular-font-size;
    }

    @media screen and (max-width: 768px) {
        width: 80%;
        p {
            font-size: $small-font-size;
        }
    }
}

.content-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .subcontent-container {
        width: 76%;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;

        .desc-block {
            width: 70%;
        }

        p {
            position: relative;
            width: 90%;
        }
    }
    @media screen and (max-width: 768px) {
        margin-top: 20px;
        .title {
            width: 76%;
        }
        .subcontent-container {
            .desc-block {
                width: 100%;
                p {
                    font-size: $small-font-size;
                }
            }
        }
    }
}

.full-container {
    width: 100% !important;
}

.bg-darker-blue {
    background-color: $darker-blue-color;
}

.statistic-container {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 40px 15%;
    color: white;
    .statistic {
        width: 33%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .statistics-text {
        color: white;
        font-weight: 700;
        margin: 10px;
    }

    @media screen and (max-width: 768px) {
        display: block;
        .statistic {
            width: unset;
        }
    }
}

.regular-button {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: white;
    text-decoration: none;
    outline: none;
    color: $blue-color;
    border-radius: 6px;
    border: 1px solid $blue-color;
    transition: all 0.3s;
    font-weight: 700;

    a {
        margin: 12px 20px;
        color: white;
        transition: all 0.3s;
    }
    
    input {
        margin: 3px 4px;
        font-size: 12px;
        border: none;
        outline: none;
        background-color: transparent;
    }
}

.regular-button:hover {
    background-color: $blue-color;
    color: white;

    a {
        color: $blue-color;
    }
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.desc-block {
    position: relative;
    border: $darker-blue-color 2px solid;
    border-radius: 20px;
    padding: 40px;
    background-color: $main-background-color;

    h2 {
        font-size: 28px;
    }

    @media screen and (max-width: 768px) {
        h2 {
            font-size: 18px;
        }
    }

    .next-header {
        margin-top: 40px;
    }
}

.desc-block::after {
    position: absolute;
    content: "";
    border: $darker-blue-color 2px solid;
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    height: 100%;
    top: 12px;
    left: 12px;
    z-index: -1;
}

.title {
    font-size: 60px;
    font-weight: bold;
    z-index: 100;

    @media screen and (max-width: 568px) {
        font-size: 36px;
    }
}

.subtitle {
    font-size: 32px;
    font-weight: normal;
    color: $blue-color;
    z-index: 100;

    @media screen and (max-width: 568px) {
        font-size: 20px;
    }
}

/* Routing animation */
.anim-page-enter {
    opacity: 0;
}

.anim-page-enter-active {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
}

.anim-page-exit {
    opacity: 1;
}

.anim-page-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
