@import "../../styles/variables";

$recruiting-height: 94vh;
$recruiting-width: 75%;
$recruiting-margins: 3%;
$sidebar-width: 100% - $recruiting-width - (3 * $recruiting-margins);
$recruiting-inner-margins: 20px;

%border {
    border: 1px solid $gray-color;
    border-radius: 12px 0 0 12px;
}

.active {
    color: $blue-color;
    border: solid $blue-color;
    padding-left: 7px;
    opacity: 100% !important;
    border-width: 0px 0px 0px 6px;
}

.recruiting-container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.recruiting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.recruiting-sidebar {
    @extend %border;
    border-right: none;
    width: $sidebar-width;
    height: $recruiting-height;
}





