@import "../../styles/variables";

$recruiting-height: 80vh;
$recruiting-width: 70%;
$recruiting-margins: 3%;
$sidebar-width: 100% - $recruiting-width - (3 * $recruiting-margins);
$recruiting-inner-margins: 20px;

%border {
    border: 1px solid $gray-color;
}

.active {
    color: $blue-color;
    border: solid $blue-color;
    padding-left: 7px;
    border-width: 0px 0px 0px 7px;
}

.recruiting-sidebar {
    @extend %border;
    margin: $recruiting-margins;
    float: left;
    width: $sidebar-width;
    margin-top: 5vh;
    margin-right: 0;
    margin-bottom: 3vh;
    height: $recruiting-height;
}





