@import "../../styles/variables";

.modal-header {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.modal-body {
    margin-top: 12px;
    text-align: center;
}

.modal-dialog {
    width: 90%;
}

