@import "../../styles/variables";

.modal-header {
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.modal-dialog {
    height: 90%;
}

.modal-body {
    text-align: center;
    height: 100%;
}

.modal-dialog {
    width: 90%;
}

