@import "../../../../styles/variables";

%table-label {
    text-align: center;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
}

table {
    width: 100%;
    margin: 0 auto;
    table-layout: auto;
}

.fixed {
    table-layout: fixed;
}

table,
td,
th {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    max-width: 200px;
}

.table-responsive {
    border-top: 1px solid $gray-color;
    height: 100%;
}

.applicant-table thead {
    background-color: #e5e5e5;
}

.applicant-table tr {
    border-bottom: 1px solid $gray-color;

    cursor: pointer;
    th {
        background-color: #e5e5e5;
        font-weight: 700;
        border-bottom: 0px !important;
        padding: 3px 7px !important;
        span:hover {
            cursor: pointer;
        }
    }

    .rating-header {
        text-align: center;
    }

    td,
    th {
        padding: 7px;
        .rating {
            @extend %table-label;
            // background-color: $light-green-color;
            width: 25px;
            margin: auto;
        }

        .status {
            @extend %table-label;
            background-color: $orange-color;
            width: 100%;
        }
    }

    tr:last-child {
        border-bottom: none;
    }
}

.applicant-table tbody tr:hover {
    background-color: #eeeeee;
}

.rounded-info-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
}
.rounded-info {
    background-color: $blue-color;
    padding: 5px 8px;
    margin: 3px;
    color: white;
    border-radius: 5px;
    font-size: 11px;
    height: 26px;
}
.rounded-info.rounded-info-rejected {
    background-color: #fe3333;
}
