@import "../../../../styles/variables";

.accordion-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
}

.multiselect-container {
    margin-top: 5px;
}

li span {
    transition: 0.20s ease-out;
}

li span:hover {
    cursor: pointer;
    color: $blue-color;
    border: solid $blue-color;
    // border: solid rgba(50, 142, 246, 0.7);
    opacity: 0.8;
    padding-left: 7px;
    border-width: 0px 0px 0px 7px;
    // text-decoration: underline;
}

.sidebar-dropdown {
    display: flex;
    justify-content: space-between;

    .sidebar-dropdown-header {
        width: 100%;
    }
    .sidebar-dropdown-btn {
        color: black;
        border-radius: 0;
        width: 28px;
        height: 28px;
        border: 1px solid $gray-color;
    }

}


