@import "../../styles/variables";

%border {
    border: 1px solid $gray-color;
    border-radius: 0 12px 12px 0;
}

$recruiting-height: 94vh;
$recruiting-width: 78%;
$recruiting-margins: 3%;
$sidebar-width: 100% - $recruiting-width - (3 * $recruiting-margins);
$recruiting-inner-margins: 10px;

.applicant-container {
    @extend %border;
    position: relative;
    width: $recruiting-width + $recruiting-margins;
    height: $recruiting-height;
    margin-left: 0;
    justify-content: space-between;

    .cover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 2;
    }

    .applicant-container-header {
        flex: 0 0 auto;
        padding-top: 20px;
        padding-left: $recruiting-inner-margins;
        padding-bottom: 7px;
    }

    .offset {
        margin-top: -20px;
    }

    .applicant-container-main {
        height: calc(100%);
        position: relative;
        display: flex;
        flex-direction: column;

        .filter-btn {
            background-color: $blue-color;
            // background-color: rgb(211,211,211);
            padding: 5px 8px;
            margin: 0 2%;
            color: white;
            border-radius: 10px;
            font-size: 14px;
            outline: none;
            height: 31px;
            width: 70px;
            // outline: none;
            border: none;
        }

        .filter-btn:hover {
            background-color: rgba(50, 142, 246, 0.7);
            // background-color: rgba(211,211,211,0.7);
        }

        h3 {
            font-size: 2em;
        }

        .query-container {
            margin-right: inherit;
            display: flex;
            justify-content: space-between;
            height: 30px;
            margin-bottom: $recruiting-inner-margins;

            .dropdown-container {
                display: flex;
                width: auto;

                .dropdown {
                    width: 150px;
                    margin-left: 0;
                    margin-right: $recruiting-margins;
                    border-radius: 100%;
                }
            }

            .search-bar-container {
                margin-left: 10px;
                margin-bottom: 20px;
                background-color: none;
                position: relative;
                // margin-right: $recruiting-margins;

                box-sizing: border-box;
                border-radius: 14px;
                display: flex;
                float: right;
                height: 30px;

                .search-input-container {
                    width: auto;
                    height: inherit;
                    position: relative;
                    float: right;
                    font-size: 15px;

                    input {
                        height: inherit;
                        padding: 14px;
                        box-sizing: inherit;
                        border-width: 1px;
                        border-radius: 8px 0px 0px 8px;
                        overflow: hidden;
                        outline: none;
                        border-color: $gray-color;
                        outline-color: $gray-color;
                        border-right: none;
                    }
                }

                .icon-container {
                    background-color: $blue-color;
                    display: flex;
                    justify-content: center;
                    float: right;
                    align-items: center;
                    border-radius: 0px 8px 8px 0px;
                    width: 50px;
                    height: inherit;
                    margin-right: 10px;

                    .search-icon {
                        width: 14px;
                        height: auto;
                        margin-left: -3px;
                        color: white;
                    }
                }

                .applicant-view-logout-btn {
                    margin-right: $recruiting-margins;
                }
            }
        }
        
        .filter-container {
            overflow-y: auto;
            z-index: 3;
        }
    }
}

.reveal-btn-container {
    position: absolute;
    right: 10px;
    top: 10px;
}

.company-view {
    float: left;
    border-right: 1px solid $gray-color;
    transition: width 200ms;
}

.listing-div {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    float: right;
}
