@import "../../../../styles/variables";

.modal-header {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.modal-body {
    margin-top: 12px;
    text-align: center;
}

@media (min-width: 800px) {
    .modal-dialog {
        width: 80% !important;
        margin: 20% auto !important;
    }
}
