@import "../../../../styles/variables";

%border {
    border: 1px solid $gray-color;
}

$recruiting-height: 80vh;
$recruiting-width: 70%;
$recruiting-margins: 3%;
$sidebar-width: 100% - $recruiting-width - (3 * $recruiting-margins);
$recruiting-inner-margins: 20px;

.applicant-container {
    @extend %border;
    float: left;
    margin-top: 5vh;
    margin-bottom: 3vh;
    width: $recruiting-width + $recruiting-margins;
    height: $recruiting-height;
    border-left: none;
    margin-left: 0;
    justify-content: space-between;
    margin-right: $recruiting-margins;
    padding-left: $recruiting-inner-margins;

    h3 {
        font-size: 2em;
    }

    .query-container {
        margin-right: inherit;
        display: flex;
        justify-content: space-between;
        height: 30px;
        margin-bottom: $recruiting-inner-margins;

        .dropdown-container {
            display: flex;
            width: auto;

            .dropdown {
                width: 150px;
                margin-left: 0;
                margin-right: $recruiting-margins;
                border-radius: 100%;

                .filter-btn {
                    // background-color: $blue-color;
                    background-color: rgb(211,211,211);
                    padding: 5px 8px;
                    margin: 0 2%;
                    // color: white;
                    border-radius: 10px;
                    font-size: 14px;
                    height: 31px;
                    // outline: none;
                    border: none;
                }

                .filter-btn:hover {
                    background-color: rgba(211,211,211,0.7);
                }
            }
        }
        
        
        .search-bar-container {
            margin-left: 10px;
            margin-bottom: 20px;
            background-color: none;
            position: relative;
        
            box-sizing: border-box;
            border-radius: 14px;
            display: flex;
            float: right;
            height: 30px;
        
            .search-input-container {
                width: auto;
                height: inherit;
                position: relative;
                float: right;
                font-size: 15px;
        
                input {
                    height: inherit;
                    padding: 14px;
                    box-sizing: inherit;
                    border-width: 1px;
                    border-radius: 8px 0px 0px 8px;
                    overflow: hidden;
                }
            }
        
            .icon-container {
                background-color: $blue-color;
                display: flex;
                justify-content: center;
                float: right;
                align-items: center;
                cursor: pointer;
                border-radius: 0px 8px 8px 0px;
                width: 40px;
                height: inherit;
            
                .search-icon {
                    width: 20px;
                    height: 20px;
                    margin-left: -3px;
                    color: white;
                }
            }
        }
    }
    
    .pool-container {
        margin-right: $recruiting-margins;
        font-size: 15px;

        
    }
}